* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column;
    font-size: 3rem;
    background-color: black;
    color: whitesmoke;
}

nav {
    padding: 1rem;
    background-color: #44b78b;
    color: white;
    font-size: 2rem;
}


h1, p {
    text-align: center;
}